.game-holder{
    width: 150px;
    margin-bottom: 30px;
    border-bottom: solid black;
}


.brief-des{
    font-size: 10px;
    margin-bottom: 5px;
}

.quick-brief{
    
}

.rating{
    font-size: 10px;
}

